In [1]:
%pip install pandas

Requirement already satisfied: pandas in /Users/handaeseong/dev/data-engineer/miniconda3/envs/multi01/lib/python3.13/site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in /Users/handaeseong/dev/data-engineer/miniconda3/envs/multi01/lib/python3.13/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/handaeseong/dev/data-engineer/miniconda3/envs/multi01/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/handaeseong/dev/data-engineer/miniconda3/envs/multi01/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/handaeseong/dev/data-engineer/miniconda3/envs/multi01/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/handaeseong/dev/data-engineer/miniconda3/envs/multi01/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd

In [4]:
numbers = [19, 2, 8, 22, 42, 32, 39]
lotto = pd.ndim : 차원의 갯수(data=numbers)
lotto

0    19
1     2
2     8
3    22
4    42
5    32
6    39
dtype: int64

In [5]:
index = ['1', '2', '3', '4', '5', '6', 'bouns']
lotto = pd.Series(data=numbers, index=index)
lotto

1        19
2         2
3         8
4        22
5        42
6        32
bouns    39
dtype: int64

In [6]:
print(lotto.index)
print(type(lotto.index))

Index(['1', '2', '3', '4', '5', '6', 'bouns'], dtype='object')
<class 'pandas.core.indexes.base.Index'>

In [7]:
print(lotto.values)
print(type(lotto.values))

[19  2  8 22 42 32 39]
<class 'numpy.ndarray'>

In [8]:
random_num = np.random.randint(1, 45, 6)
random_num

array([ 1, 21, 20, 43, 17, 17])

In [9]:
today_lotto = pd.Series(random_num, dtype='float')
today_lotto

0     1.0
1    21.0
2    20.0
3    43.0
4    17.0
5    17.0
dtype: float64

In [10]:
today_lotto.is_unique

False

In [11]:
# 값이 연속해서 증가하니?
today_lotto.is_monotonic_increasing

False

In [12]:
pd.Series([1, 4, 6, 7, 9, 100]).is_monotonic_increasing

True

In [13]:
pd.Series([10, 7, 6, 5, 1]).is_monotonic_decreasing

True

In [14]:
nums = pd.Series(range(100, 1001, 100))

In [15]:
print(nums)
print(type(nums))

0     100
1     200
2     300
3     400
4     500
5     600
6     700
7     800
8     900
9    1000
dtype: int64
<class 'pandas.core.series.Series'>

In [16]:
nums.head()
# 지정 안하면 5개가 기본

0    100
1    200
2    300
3    400
4    500
dtype: int64

In [17]:
nums.head(3)
# nums.head(n=3)

0    100
1    200
2    300
dtype: int64

In [18]:
nums.tail()
# 기본적으로 끝에서 5개가 나옴

5     600
6     700
7     800
8     900
9    1000
dtype: int64

In [19]:
nums.tail(2)

8     900
9    1000
dtype: int64

In [20]:
print(nums.count())
print(nums.sum())

10
5500

In [26]:
# nan = Not A Number
nums[1] = np.nan
nums
print(nums)

0     100.0
1       NaN
2     300.0
3     400.0
4     500.0
5     600.0
6     700.0
7     800.0
8     900.0
9    1000.0
dtype: float64

In [22]:
nums.sum()

np.float64(5300.0)

In [25]:
nums.sum(skipna=False)
# 중간에 숫자가 아닌 것이 있어서 계산 할 수 없다.

np.float64(nan)

In [27]:
# 누적합
print(nums.cumsum())
# 평균
print(nums.mean())
# 중위값
print(nums.median())
# 표준편차
print(nums.std())
# max, min
print(nums.max())
print(nums.min())
# describe
print(nums.describe())

0     100.0
1       NaN
2     400.0
3     800.0
4    1300.0
5    1900.0
6    2600.0
7    3400.0
8    4300.0
9    5300.0
dtype: float64
588.8888888888889
600.0
293.4469476943168
1000.0
100.0
count       9.000000
mean      588.888889
std       293.446948
min       100.000000
25%       400.000000
50%       600.000000
75%       800.000000
max      1000.000000
dtype: float64

In [28]:
num_list = [
    [19, 2, 8, 22, 42, 32, 39],
    [ 6, 10, 12, 14, 20, 42, 15]
]
lotto_list = pd.Series(num_list, index =['1000회', '1001회'])
lotto_list

1000회     [19, 2, 8, 22, 42, 32, 39]
1001회    [6, 10, 12, 14, 20, 42, 15]
dtype: object

In [29]:
lotto_list['1000회']

[19, 2, 8, 22, 42, 32, 39]

In [30]:
num_dist = {"1000회" : [19, 2, 8, 22, 42, 32, 39],
            "1001회" : [6, 10, 12, 14, 20, 42, 15]}
lotto_dist = pd.Series(num_dist)
lotto_dist

1000회     [19, 2, 8, 22, 42, 32, 39]
1001회    [6, 10, 12, 14, 20, 42, 15]
dtype: object

In [31]:
heros = ["CaptainAmerica", "Thor", "Hulk", "IronMan","BlackWidow", "HawkEye", "Hulk"]
avengers = pd.Series(heros)
avengers

0    CaptainAmerica
1              Thor
2              Hulk
3           IronMan
4        BlackWidow
5           HawkEye
6              Hulk
dtype: object

In [32]:
avengers.is_unique

False

In [33]:
avengers.unique()

array(['CaptainAmerica', 'Thor', 'Hulk', 'IronMan', 'BlackWidow',
       'HawkEye'], dtype=object)

In [34]:
avengers.nunique()

6

In [35]:
avengers.max()

'Thor'

In [36]:
avengers.min()

'BlackWidow'

In [37]:
avengers.sort_values()

4        BlackWidow
0    CaptainAmerica
5           HawkEye
2              Hulk
6              Hulk
3           IronMan
1              Thor
dtype: object

In [38]:
list(avengers)

['CaptainAmerica', 'Thor', 'Hulk', 'IronMan', 'BlackWidow', 'HawkEye', 'Hulk']

In [39]:
dict(avengers)

{0: 'CaptainAmerica',
 1: 'Thor',
 2: 'Hulk',
 3: 'IronMan',
 4: 'BlackWidow',
 5: 'HawkEye',
 6: 'Hulk'}

In [40]:
'CaptainAmerica' in avengers

False

In [41]:
0 in avengers

True

In [42]:
series01 = pd.Series([1, 2, 3, 4, 5])
series02 = pd.Series([1, 3, 5, 7, 9])

In [58]:
series01 + 5

0    26
1    27
2    28
3    29
4    30
dtype: int64

In [44]:
series01.add(5)

0     6
1     7
2     8
3     9
4    10
dtype: int64

In [45]:
series02 - 5

0   -4
1   -2
2    0
3    2
4    4
dtype: int64

In [47]:
series02.sub(5)

0   -4
1   -2
2    0
3    2
4    4
dtype: int64

In [48]:
series02.subtract(5)

0   -4
1   -2
2    0
3    2
4    4
dtype: int64

In [59]:
series01 == series02

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [60]:
print(series01 != series02 )
print(series01.ne(series02))

0    True
1    True
2    True
3    True
4    True
dtype: bool
0    True
1    True
2    True
3    True
4    True
dtype: bool

In [53]:
series03 = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
serise04 = pd.Series([6, 7, 8, 9, 10], index = ['c', 'd', 'e', 'f', 'g'])

In [61]:
series03 + serise04
# 인덱스끼리 더하기 때문에 같은 인덱스가 없는 값과 더하면 Nan이라고 표시되는 것이다.
# 올바르게 나올려면 같은 인덱스의 값을 맞춰야 한다.

a     NaN
b     NaN
c     9.0
d    11.0
e    13.0
f     NaN
g     NaN
dtype: float64